.bar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between; 
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50));
}

.contenedor {
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: center;
}

.select {
    width: 12rem;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    height: 2rem;
    border-radius: 10px;
    color: #009900; 
    margin-right: 3rem;
    padding-left: 0.3rem;
    cursor: pointer;
}

.option {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-right: 5px;
    margin-left: 20px;
}
